.App {
  text-align: center;
}

iframe { 
  border: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

video {
  border: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}